* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: inter, san-serif;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border-style: solid;
   border-color: red;
   border-width: 2px; */
  border: 2px solid red;
  width: 920px;
  height: 138px;
  background-color: #ededed;
}

.fa-sack-dollar {
  font-size: 64px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 350px;
}

.text-title {
  text-decoration-line: line-through;
  font-size: 24px;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
  width: 350px;
}

.date {
  color: #ededed;
  border-radius: 25px;
  background-color: black;
  padding: 8px;
}

.check-icon {
  width: 32px;
  height: 32px;
}
